.statistic__game {
  text-align-last: left;
  margin-top: 50px;
  position: relative;
  &::after {
    display: block;
    content: "";
    background: linear-gradient(#000000, #0008ff 100%);;
    height: 1px;
    width: 100%;
    margin-top: 15px;
  }
  canvas {
    position: absolute;
    bottom: 10px;
  }
}

.statistic {
  background: #cbf5ff;
  min-height: 100vh;
  height: 100%;
}

.statistic__left {
  text-align: center;
  padding-top: 100px;
  h2 {
    font-size: 1.7rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1.3rem;
    span {
      font-weight: bold;
    }
  }
}

.statistic__clear {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.statistic__text {
  p {
    span {
      font-weight: bold;
    }
  }
}

.statistic__info {
  display: flex;
  p {
    margin: 0;
  }
}

.statistic__game-number {
  span {
    font-weight: bold;
  }
}

.statistic__chart {
  width: 100px;
  height: 100px;
}