#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.textbook {
  padding: 30px 0;
}

.textbook__category {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.textbook__category button {
  font-size: 30px;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.textbook__category button:hover {
  transform: scale(1.3);
}

.ant-pagination-options {
  display: none;
}

.ant-pagination {
  text-align: center;
}

.textbook__top-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textbook__games {
  display: flex;
  gap: 10px;
  button {
    background-color: white;
    border-radius: 15px;
    padding: 8px 20px;
    border: 1px solid #888;
    transition: 0.3s;
    &:hover {
      color: #5d7baf;
      border: 1px solid #5d7baf;
    }
    &:active {
      color: black;
      border: 1px solid black;
    }
  }
}

.textbook__header {
  text-align: center;
  font-size: 2.2rem;
}

.ant-pagination-item-active:focus-visible a, .ant-pagination-item-active a {
  color: #5d7baf;
  border-color: #5d7baf;
}

.ant-pagination-item-active {
  border-color: #5d7baf;
}

.category__select-button.active__button {
  color: transparent;
  &::after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url(./../../../public/assets/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}