.ant-modal-close {
  display: none;
}

.ant-modal-body {
  max-height: 500px;
  overflow-y: scroll;
}

.audio__answers-title {
  font-size: 23px;
}

.audio__answers-title span {
  border-radius: 42%;
  background-color: #DA5B4C;
  margin-left: 10px;
  padding: 1px 17px;
}

.audio__answers-title span.correct__count {
  background-color: #01AF61;
}

.audio__list-item {
  font-size: 18px;
  display: flex;
  gap: 5px;
}

.audio__list-item span {
  display: inline-block;
  font-weight: bold;
}

.audio__list-item span::first-letter {
  text-transform: uppercase;
}

.audio__answers:nth-of-type(2) {
  margin-top: 15px;
}

.audio__answers:nth-of-type(1)::after {
  margin-top: 15px;
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #333;
}

.bi.bi-volume-up-fill.audio__sound {
  width: 25px;
  height: 25px;
  fill: black;
}