.audiocall {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.audiocall__container {
  display: flex;
  flex-direction: column;
}

.audiocall button {
  padding: 5px 10px; 
  margin: 20px;
  cursor: pointer;
  text-transform: uppercase;
}