.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin: 40px 0;
}

.textbook__card {
  width: 400px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
}

.learned {
  border: 2px solid green;
}

.hard {
  border: 2px solid red;
}

.card__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 260px;
}

.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card__main-info {
  text-align: right;
  font-size: 18px;
}

.card__main-info span.card__name_bold {
  font-weight: 700;
  font-style: normal;
}

.card__main-info span {
  font-style: italic;
}

.card__footer {
  padding: 10px;
}
.card__footer p {
  margin: 0;
  text-align: right;
}

.card__examples_first {
  margin-bottom: 10px;
}

.card__examples-text {
  color: grey;
}

.card-bold {
  font-weight: bold;
}

.card__statistics {
  display: flex;
  flex-direction: row;
}

.statistics-count {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 5px;
}

.wrong-answers-count {
  background-color: rgba(255, 110, 110, 0.8);
  margin-left: 10px;
}

.right-answers-count {
  background-color: rgba(110, 255, 110, 0.8);
}

.bi-volume-up-fill {
  width: 35px;
  height: 30px;
  cursor: pointer;
  fill: #fff;
}

.ant-btn.ant-btn-primary.ant-btn-round.ant-btn-lg {
  height: 28px;
  padding: 1.4px 10px;
  font-size: 14px;
  border-radius: 40px;
  margin-left: 5px;
}

.card__btns-hard, .card__btns-hard_delete {
  background-color: #e98348;
  border-color: #e98348;
}

.ant-btn-primary.card__btns-hard:hover ,.ant-btn-primary.card__btns-hard_delete:hover {
  background-color: #ff5d00;
  border-color: #ff5d00;
}

.card__btns-learned, .card__btns-learned_delete {
  background-color: #06b906;
  border-color: #06b906;
}

.ant-btn-primary.card__btns-learned:hover ,.ant-btn-primary.card__btns-learned_delete:hover {
  background-color: #009519;
  border-color: #009519;
}