ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

nav {
  background-color: lightsteelblue;
  position: fixed;
  height: 100%;
  width: 14%;
  grid-area: nav;
}

nav span {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

nav ul {
  margin-top: 20px;
}

nav span:hover {
  background-color: rgb(158, 178, 206);
  cursor: pointer;
}