.sprint-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url("../../../assets/image/britanskiy-flag.jpg");
  background-size: contain;
  color: white;
  font-size: 3rem;
}

.btn-start{
  padding: 10px;
}