@import 'antd/dist/antd.css';
@import './pages/home/Home.scss';
@import './components/navigation/Navigation.scss';
@import './pages/home/main/Main.scss';
@import './components/footer/Footer.scss';
@import './pages/textbook/Textbook.scss';
@import './pages/textbook/word/word.scss';
@import './pages/audio-call/AudioCallMenu.scss';
@import './pages/savannah/Savannah.scss';
@import './components/CategorySelect/category.scss';
@import './components/EndGame/endGame.scss';


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "nav header header" "nav main main" "nav main main";
  grid-template-columns: 14% 43% 43%;;
}

.main {
  height: calc(100vh - 98px);
  width: 100%;
  grid-area: main;
}