:root {
  --main-bg-color: #FAFCFE;
  --menu-bg-color: #172B4C;
  --menu-active-bg-color: #273B5C;
  --menu-color: #C4C4C4;
  --footer-bg-color: #FFFFFF;
  --mainpage-h2-color: navy;
  --mainpage-h2small-color: dimgray;
  --audiocall-bg-color: #eeaeef;
  --savannah-bg-color: #eeefae;
  --sprint-bg-color: #b6efae;
}