.mainpage__container {
  text-align: justify;
  font-size: 1.4em;
}

.mainpage__container h2 {
  text-align: center;
}

.mainpage__container-header {
  font-size: 2.2rem;
  color: var(--mainpage-h2-color)
}

.mainpage__container section h2 {
  font-size: 2rem;
  color: var(--mainpage-h2small-color)
}

.mainpage__container h3 {
  font-size: 1.6rem;
}

.mainpage__container section {
  margin: 50px 0;
}

.main__features li {
  margin-bottom: 50px;
}

.developers__card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.developers__card-image {
  margin-right: 30px;
}

.developers__card-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.07);
  }
}

.developers__card-info h3 {
  text-align: left;
}

.developers__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  margin: 0 5%;
}